<main>
  <!-- Abas -->
  <p-tabs [(value)]="abaAtual">
    <p-tablist>
      <p-tab [value]="0">Inventário</p-tab>
      <p-tab [value]="1">Adicionar</p-tab>
      @for (item of produtosEdicao; track item.numeroSerie; let index = $index) {
        <p-tab [value]="index + 2">{{ item.numeroSerie }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <!-- Aba do Inventário -->
        <!-- Top Bar -->
        <div class="flex flex-1 justify-between items-center mb-4">
          <section>
            <p-iconfield iconPosition="left">
              <p-inputicon class="pi pi-search" />
              <input type="text" pInputText placeholder="Pesquisar" class="w-96" />
            </p-iconfield>
          </section>
          <section>
            <p-button label="Adicionar" icon="pi pi-plus" iconPos="right"></p-button>
          </section>
        </div>
        @if (produtos.length > 0) {
          <p-table
            [value]="produtos"
            stripedRows
            showGridlines
            [paginator]="true"
            [rowsPerPageOptions]="[5]"
            [rows]="5"
          >
            <ng-template #header>
              <tr>
                <th>Nº de Série</th>
                <th>Aparelho</th>
                <th>Modelo</th>
                <th>Status</th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td>{{ item.numeroSerie }}</td>
                <td>{{ item.aparelho }}</td>
                <td>{{ item.modelo }}</td>
                <td>{{ item.status }}</td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <p-card header="Não há produtos no inventário!">
            <p class="m-0">
              Começe a adicionar itens no inventário e/ou realizar operações que adicionem produtos
              no inventário para vê-los aqui!
            </p>
          </p-card>
        }
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <!-- Aba do Componente do form -->
        <!-- <p class="m-0">Componente da página do formulário vai estar aqui</p> -->
        <div class="flex">
          <app-formulario-estoque></app-formulario-estoque>
        </div>
      </p-tabpanel>
      @for (item of produtosEdicao; track item.numeroSerie; let index = $index) {
        <p-tabpanel [value]="index + 2">
          <p-button label="Fechar" severity="danger" (click)="fecharAba(index)"> </p-button>
          <app-formulario-estoque
            (fecharAba)="fecharAba(index)"
            [itemEdicao]="item"
          ></app-formulario-estoque>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</main>
